*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-1 {
  color: #000;

  /* Heading 1 */
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

$black-color : #000;
$dark-blue:#001E6C;
$blue:#035397;
$orange:#E8630A;
$yellow:#FCD900;
$light-blue:#EFFFFD;
$white:#fff;
