.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  width: 1200px;
}

ul {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  list-style: none;
  gap: 40px;
}
