.ftr-container{
    width: auto;
}
.top-left-con{
    display: flex;
    margin-left: 250px;
}
.questions{
    margin-right: 15%;
}
.contactUs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    margin:0 20px;
    img{
      display: flex;
    }
    p{
    color: var(--Black, #000);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
    .para{
      color: var(--Black, #000);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
  }
  h4 {
    color: var(--Black, #000);
    /* Heading 3 */
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px; /* 126.667% */
  }
.location{
    width: 70%;
  }